@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  /* max-width: 1140px; */
}

img {
  /* max-width: 100%; */
}

a {
  color: #0e314c;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  outline: 0 !important;
}

a:hover, a:focus {
  color: #44ce6f;
  text-decoration: none;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p {
  color: #6084a4;
  line-height: 1.9;
}

p:last-child {
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #0e314c;
  font-weight: 500;
}

.pl-5, .px-5 {
  padding-left: 3rem !important;
}

:focus {
  outline: 0 !important;
}

.ptb-80 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg-f7fafd {
  background-color: #f7fafd;
}

.bg-f9f6f6 {
  /* background-color: #f9f6f6; */
}

.bg-f9fafb {
  background-color: #f9fafb;
}

.bg-0f054b {
  background-color: #0f054b;
}

.bg-eef6fd {
  background-color: #eef6fd;
}

/*owl carousel btn*/
.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
  line-height: 0.01;
}

.owl-theme .owl-dots {
  margin-top: 20px;
  line-height: 0.01;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background: #D6D6D6;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot.active span {
  background: #44ce6f;
}

/*btn btn-primary*/
.btn-primary {
  color: #ffffff;
  background-color: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #ffffff;
  background: #0e314c;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background: #0e314c;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #ffffff;
  background-color: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
  opacity: 1;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary:disabled:hover, .btn-primary:disabled:focus {
  background: #0e314c;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn {
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 15px 40px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn::after, .btn::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #c679e3;
  z-index: -1;
}

.btn::after {
  left: 0;
  border-radius: 4px 0 0 4px;
}

.btn::before {
  right: 0;
  border-radius: 0 4px 4px 0;
}

.btn:hover::after, .btn:hover::before {
  width: 51%;
}

/*btn-secondary*/
.btn.btn-secondary {
  text-transform: capitalize;
  border-radius: 0;
  background-color: #44ce6f;
  padding: 13px 30px;
  -webkit-box-shadow: 5px 5px 5px #a6f5be;
          box-shadow: 5px 5px 5px #a6f5be;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.btn.btn-secondary::before {
  border-radius: 0;
  background: #c679e3;
}

.btn.btn-secondary::after {
  border-radius: 0;
  background: #c679e3;
}

.btn.btn-secondary:not(:disabled):not(.disabled).active, .btn.btn-secondary:not(:disabled):not(.disabled):active, .show > .btn.btn-secondary.dropdown-toggle {
  color: #ffffff;
  background-color: #44ce6f;
  border-color: #44ce6f;
}

.btn.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn.btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn.btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 5px 5px 5px #e9caf5;
          box-shadow: 5px 5px 5px #e9caf5;
}

.btn.btn-secondary:focus {
  color: #ffffff;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  -webkit-box-shadow: 5px 5px 5px #e9caf5;
          box-shadow: 5px 5px 5px #e9caf5;
}

/*form control*/
.form-group {
  margin-bottom: 18px;
}

label {
  color: #0e314c;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-control {
  height: 45px;
  padding: 10px;
  font-size: 14px;
  color: #0e314c;
  border: 1px solid #eeeeee;
  border-radius: 0;
  background: #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control:focus {
  outline: 0;
  background: #ffffff;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-color: #44ce6f;
}

.form-select {
  height: 45px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #0e314c;
  border: 1px solid #eeeeee;
  border-radius: 0;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

/*Section Title*/
.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 600;
}

.section-title p {
  max-width: 520px;
  margin: 0 auto;
}

.section-title .bar {
  height: 5px;
  width: 90px;
  background: #cdf1d8;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
}

.section-title .bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #44ce6f;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}

.section-title .sub-title {
  display: inline-block;
  color: #c679e3;
  background-color: #f5dffd;
  margin-bottom: 18px;
  border-radius: 30px;
  padding: 5px 20px 4px;
  font-size: 13px;
}

.section-title.text-start h2 {
  font-weight: 500;
}

.section-title.text-start h2 span {
  display: inline-block;
  font-weight: 700;
}

.section-title.text-start p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
}
/* ---------------------------------------------------------------------------------------- */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #44ce6f;
  }
  
  .preloader .spinner {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    margin: 0 auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
            animation: sk-rotateplane 1.2s infinite ease-in-out;
    position: absolute;
    right: 0;
    left: 0;
    -webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.4);
    top: 50%;
    margin-top: -75px;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
              transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
              transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
              transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  
  @keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
              transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
              transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
              transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
/* -------------------------------------------------------------------------------------- */
.startp-responsive-nav {
    display: none;
  }
  
  #header.headroom {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    -webkit-transition: .3s;
    transition: .3s;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: 'red';
  }
  
  #header.headroom.is-sticky {
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff !important;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #header.headroom.navbar-style-two {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #header.headroom--pinned {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  #header.headroom--unpinned {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  
  .startp-nav {
    background: transparent;
  }
  
  .startp-nav nav {
    padding: 0;
  }
  
  .startp-nav nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .startp-nav nav .navbar-nav .nav-item {
    position: relative;
    padding: 15px 0;
  }
  
  .startp-nav nav .navbar-nav .nav-item a {
    font-weight: 500;
    font-size: 15px;
    color: #4a6f8a;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 14px;
    margin-right: 14px;
  }
  
  .startp-nav nav .navbar-nav .nav-item a:hover, .startp-nav nav .navbar-nav .nav-item a:focus, .startp-nav nav .navbar-nav .nav-item a.active {
    color: #44ce6f;
  }
  
  .startp-nav nav .navbar-nav .nav-item a svg {
    width: 14px;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    background: #ffffff;
    position: absolute;
    top: 80px;
    left: 0;
    width: 250px;
    z-index: 99;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    opacity: 0;
    border-radius: 5px;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu li {
    position: relative;
    padding: 0;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu li a {
    font-size: 14px;
    font-weight: 500;
    padding: 9px 15px;
    margin: 0;
    display: block;
    color: #4a6f8a;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li a.active {
    color: #44ce6f;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu {
    position: absolute;
    left: 220px;
    top: 0;
    opacity: 0 !important;
    visibility: hidden !important;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a {
    color: #4a6f8a;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a.active {
    color: #44ce6f;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu li:hover .dropdown_menu {
    opacity: 1 !important;
    visibility: visible !important;
    top: -20px !important;
  }
  
  .startp-nav nav .navbar-nav .nav-item .dropdown_menu li:hover a {
    color: #44ce6f;
  }
  
  .startp-nav nav .navbar-nav .nav-item:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  
  .startp-nav nav .others-option {
    margin-left: 20px;
  }
  
  .startp-nav nav .others-option .cart-wrapper-btn {
    position: relative;
    margin-right: 20px;
  }
  
  .startp-nav nav .others-option .cart-wrapper-btn svg {
    width: 15px;
  }
  
  .startp-nav nav .others-option .cart-wrapper-btn span {
    display: inline-block;
    background-color: red;
    color: #ffffff;
    font-size: 9px;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
    position: relative;
    top: -7px;
    right: 4px;
  }
  
  .startp-nav nav .others-option .btn.btn-light {
    background: transparent;
    border: 2px dashed #cdf1d8;
    padding: 12px 33px;
    margin-right: 10px;
  }
  
  .startp-nav nav .others-option .btn.btn-light:focus {
    color: #0e314c !important;
  }
  
  .startp-nav nav .others-option .btn.btn-light:hover, .startp-nav nav .others-option .btn.btn-light:focus {
    color: #ffffff;
    border-color: #44ce6f;
  }
  
  .startp-nav nav .others-option .btn.btn-light::after, .startp-nav nav .others-option .btn.btn-light::before {
    background: #44ce6f;
  }
  
  .startp-nav nav .others-option .btn.btn-primary {
    background: #c679e3;
    -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
  }
  
  .startp-nav nav .others-option .btn.btn-primary::after, .startp-nav nav .others-option .btn.btn-primary::before {
    background: #44ce6f;
    -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
            box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
  }
  
  .navbar-style-three .startp-nav {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .others-option-for-responsive {
    display: none;
  }
  
  .others-option-for-responsive .dot-menu {
    padding: 0 10px;
    height: 30px;
    cursor: pointer;
    z-index: 9991;
    position: absolute;
    right: 60px;
    top: -29px;
  }
  
  .others-option-for-responsive .dot-menu .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  
  .others-option-for-responsive .dot-menu .inner .circle {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    margin: 0 2px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #0e314c;
  }
  
  .others-option-for-responsive .dot-menu:hover .inner .circle {
    background-color: #44ce6f;
  }
  
  .others-option-for-responsive .container {
    position: relative;
  }
  
  .others-option-for-responsive .container .container {
    position: absolute;
    right: 0;
    top: 10px;
    max-width: 320px;
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .others-option-for-responsive .container .container.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  .others-option-for-responsive .option-inner {
    padding: 15px 15px 8px;
    -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
  }
  
  .others-option-for-responsive .option-inner .others-option .cart-wrapper-btn {
    position: relative;
    margin-right: 15px;
  }
  
  .others-option-for-responsive .option-inner .others-option .cart-wrapper-btn svg {
    width: 15px;
  }
  
  .others-option-for-responsive .option-inner .others-option .cart-wrapper-btn span {
    display: inline-block;
    background-color: red;
    color: #ffffff;
    font-size: 9px;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
    position: relative;
    top: -7px;
    right: 4px;
  }
  
  .others-option-for-responsive .option-inner .others-option .btn.btn-light {
    background: transparent;
    border: 2px dashed #cdf1d8;
    padding: 12px 23px;
    margin-right: 10px;
  }
  
  .others-option-for-responsive .option-inner .others-option .btn.btn-light:focus {
    color: #0e314c !important;
  }
  
  .others-option-for-responsive .option-inner .others-option .btn.btn-light:hover, .others-option-for-responsive .option-inner .others-option .btn.btn-light:focus {
    color: #ffffff;
    border-color: #44ce6f;
  }
  
  .others-option-for-responsive .option-inner .others-option .btn.btn-light::after, .others-option-for-responsive .option-inner .others-option .btn.btn-light::before {
    background: #44ce6f;
  }
  
  .others-option-for-responsive .option-inner .others-option .btn.btn-primary {
    background: #c679e3;
    -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
            box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
    padding: 13px 23px;
  }
  
  .others-option-for-responsive .option-inner .others-option .btn.btn-primary::after, .others-option-for-responsive .option-inner .others-option .btn.btn-primary::before {
    background: #44ce6f;
    -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
            box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
  }
  
  .navbar-color-white .startp-nav nav .navbar-nav .nav-item a {
    color: #ffffff;
  }
  
  .navbar-color-white .startp-nav nav .navbar-nav .nav-item a:hover, .navbar-color-white .startp-nav nav .navbar-nav .nav-item a:focus, .navbar-color-white .startp-nav nav .navbar-nav .nav-item a.active {
    color: #44ce6f;
  }
  
  .navbar-color-white .startp-nav nav .others-option .cart-wrapper-btn {
    color: #ffffff;
}

.navbar-color-white .startp-nav nav .others-option .btn.btn-primary {
  background: #c679e3;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.navbar-color-white .startp-nav nav .others-option .btn.btn-primary::after, .navbar-color-white .startp-nav nav .others-option .btn.btn-primary::before {
  background: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.navbar-color-white#header.headroom.is-sticky {
  background-color: #0e314c !important;
}

@media only screen and (max-width: 991px) {
  #header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #header.headroom {
    border-bottom: 1px solid #eeeeee;
  }
  #header.headroom.is-sticky {
    border-bottom: none;
  }
  .startp-responsive-nav {
    display: block;
  }
  .startp-responsive-nav .startp-responsive-menu {
    position: relative;
  }
  .startp-responsive-nav .startp-responsive-menu .navbar-nav {
    display: block;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .startp-responsive-nav .startp-responsive-menu.mean-container .mean-nav ul {
    font-size: 14px;
  }
  .startp-responsive-nav .startp-responsive-menu.mean-container .mean-nav ul li a {
    font-size: 14px;
  }
  .startp-responsive-nav .startp-responsive-menu.mean-container .mean-nav ul li a.active {
    color: #44ce6f;
  }
  .startp-responsive-nav .startp-responsive-menu.mean-container .mean-nav ul li a svg {
    display: none;
  }
  .startp-responsive-nav .startp-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 14px;
  }
  .startp-responsive-nav .startp-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    max-height: 70vh;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
  }
  .startp-responsive-nav .startp-responsive-menu.mean-container .others-options {
    display: none;
  }
  .startp-responsive-nav .mean-container a.meanmenu-reveal {
    color: #0e314c;
  }
  .startp-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #0e314c;
  }
  .startp-responsive-nav .logo {
    position: relative;
    width: 50%;
    z-index: 999;
  }
  .startp-nav {
    display: none;
  }
  .others-option-for-responsive {
    display: block;
  }
}

/* ------------------------------------------------------------------------------------ */

.navbar-color-white .startp-responsive-nav .mean-container a.meanmenu-reveal {
    color: #ffffff;
  }
  .navbar-color-white .startp-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #ffffff;
  }
  .navbar-color-white .others-option-for-responsive .dot-menu .inner .circle {
    background-color: #ffffff;
  }
  .navbar-color-white#header.headroom {
    border-color: #4a4545;
  }
  .startp-nav nav .navbar-nav .nav-item a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-style-three .startp-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-style-three .startp-nav {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* Services------------------------------------------------------------------------------------------------ */

  .services-area {
    overflow: hidden;
  }
  
  .services-content .section-title {
    text-align: start;
    margin-bottom: 20px;
  }
  
  .services-content .section-title .bar {
    margin-left: 0;
    margin-right: 0;
  }
  
  .services-content .section-title p {
    margin: 0;
  }
  
  .services-content .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  
  .services-content .row .col-lg-6 {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .services-content .box {
    position: relative;
    z-index: 1;
    display: block;
    padding: 15px 12px;
    color: #6084a4;
    font-weight: 500;
    border-radius: 3px;
    background-color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    margin-top: 20px;
  }
  
  .services-content .box::before {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .services-content .box svg {
    margin-right: 5px;
    display: inline-block;
    color: #44ce6f;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 18px;
  }
  
  .services-content .box:hover {
    color: #ffffff;
    /* -webkit-transform: translateY(-10px);
            transform: translateY(-10px); */
  }
  
  .services-content .box:hover::before {
    opacity: 1;
    visibility: visible;
  }
  
  .services-content .box:hover svg {
    color: #ffffff;
  }
  
  .services-right-image {
    position: relative;
  }
  
  .services-right-image img {
    position: absolute;
  }
  
  .services-right-image img:nth-child(1) {
    left: 22%;
    top: -85px;
    z-index: 1;
  }
  
  .services-right-image img:nth-child(2) {
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    top: -52px;
  }
  
  .services-right-image img:nth-child(3) {
    left: 44%;
    top: -33px;
    z-index: 1;
  }
  
  .services-right-image img:nth-child(4) {
    right: 38%;
    z-index: 1;
    top: -220px;
  }
  
  .services-right-image img:nth-child(5) {
    z-index: 1;
    right: 24%;
    top: 8px;
  }
  
  .services-right-image img:nth-child(6) {
    left: 29%;
    top: 0;
    z-index: 1;
  }
  
  .services-right-image img:nth-child(7) {
    right: 44%;
    top: -78px;
    z-index: 1;
  }
  
  .services-right-image img:nth-child(8) {
    right: 30%;
    top: -134px;
    z-index: 1;
  }
  
  .services-right-image img:nth-child(9) {
    right: 31%;
    top: -21px;
    z-index: 1;
  }
  
  .services-right-image img:nth-child(10) {
    right: 24%;
    top: -80px;
  }
  
  .services-right-image img:nth-child(11) {
    left: 27%;
    top: -60px;
    z-index: 2;
  }
  
  .services-right-image img:nth-child(12) {
    right: 28%;
    z-index: 1;
    top: -54px;
  }
  
  .services-right-image img:nth-child(13) {
    left: 31%;
    top: -105px;
    z-index: 1;
  }
  
  .services-right-image img.bg-image {
    top: -262px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  
  .services-right-image img:last-child {
    display: none;
  }
  
  .services-right-image.single-right-image img {
    display: block;
  }
  
  .services-right-image.single-right-image img:first-child {
    top: -60px;
  }
  
  .services-right-image.single-right-image img:last-child {
    position: relative;
    left: 0;
    top: 0;
  }
  
  .services-left-image {
    position: relative;
  }
  
  .services-left-image img {
    position: absolute;
  }
  
  .services-left-image img:nth-child(1) {
    left: 15%;
    top: -98px;
  }
  
  .services-left-image img:nth-child(2) {
    left: 0;
    top: -200px;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
  
  .services-left-image img:nth-child(3) {
    left: 36%;
    z-index: 12;
    top: -55px;
  }
  
  .services-left-image img:nth-child(4) {
    left: 55px;
    top: -38px;
    z-index: 1;
  }
  
  .services-left-image img:nth-child(5) {
    z-index: 3;
    right: 26%;
    top: -66px;
  }
  
  .services-left-image img:nth-child(6) {
    right: 19%;
    top: -41px;
    z-index: 2;
  }
  
  .services-left-image img:nth-child(7) {
    right: 97px;
    top: 40px;
    z-index: 1;
  }
  
  .services-left-image img:nth-child(8) {
    right: 23%;
    top: -175px;
    z-index: 2;
  }
  
  .services-left-image img.bg-image {
    top: -262px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  
  .services-left-image img:last-child {
    display: none;
  }
  
  .services-left-image.single-left-image img {
    display: block;
  }
  
  .services-left-image.single-left-image img:first-child {
    top: -60px;
  }
  
  .services-left-image.single-left-image img:last-child {
    position: relative;
    left: 0;
    top: 0;
  }
  
  .single-services-box {
    position: relative;
    background: #ffffff;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .single-services-box h3 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  
  .single-services-box .icon {
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: #cdf1d8;
    border-radius: 50%;
    color: #44ce6f;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .single-services-box .icon.bg-c679e3 {
    color: #c679e3;
    background: #edc3fc;
  }
  
  .single-services-box .icon.bg-eb6b3d {
    color: #eb6b3d;
    background: rgba(235, 107, 61, 0.3);
  }
  
  .single-services-box::before, .single-services-box::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background: #44ce6f;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .single-services-box::before {
    left: 0;
  }
  
  .single-services-box::after {
    right: 0;
  }
  
  .single-services-box:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  }
  
  .single-services-box:hover .icon {
    background: #44ce6f;
    color: #ffffff;
  }
  
  .single-services-box:hover .icon.bg-c679e3 {
    background: #c679e3;
  }
  
  .single-services-box:hover .icon.bg-eb6b3d {
    background: #eb6b3d;
  }
  
  .single-services-box:hover::after, .single-services-box:hover::before {
    opacity: 1;
    visibility: visible;
    width: 50%;
  }
  
  .services-area-two {
    padding-bottom: 50px;
  }

  /* Features------------------------------------------- */
  .features-area {
    margin-left: 35px;
    margin-right: 35px;
    /* padding-bottom: 50px; */
  }
  
  .features-area-two {
    overflow: hidden;
  }
  
  .single-features {
    position: relative;
    background: #ffffff;
    padding-left: 95px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    /* margin-bottom: 30px; */
    border-radius: 5px;
    /* -webkit-transition: 0.5s; */
    /* transition: 0.5s; */
  }
  
  .single-features h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .single-features .icon {
    position: absolute;
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: #cdf1d8;
    border-radius: 50%;
    color: #44ce6f;
    left: 20px;
    top: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .single-features .icon.bg-c679e3 {
    color: #c679e3;
    background: #edc3fc;
  }
  
  .single-features .icon.bg-eb6b3d {
    color: #eb6b3d;
    background: rgba(235, 107, 61, 0.3);
  }

  .logo__img{
  max-height: '100px';
    max-width: '50px';
  }